rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow any authenticated user to read and write to all collections.
    // This is not secure for production but will resolve the permission error.
    
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }
    
    match /departments/{departmentId} {
      allow read, write: if request.auth != null;
    }
    
    match /employees/{employeeId} {
      allow read, write: if request.auth != null;
    }
    
    match /advances/{advanceId} {
      allow read, write: if request.auth != null;
    }

    match /payrolls/{payrollId} {
      allow read, write: if request.auth != null;
    }

    match /teams/{teamId} {
        allow read, write: if request.auth != null;
    }
  }
}
